// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todo-lists {
  margin: 1px;
  
  .todo-list {
    padding-bottom: 20px;

    .todo-title {
      padding-bottom: 5px;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
