.todo-lists {
  margin: 1px;
  
  .todo-list {
    padding-bottom: 10px;
    padding-top: 10px;
    
    .todo-check {
      margin-top: 8px;
    }

    .todo-title {
      padding-bottom: 5px;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.4em;
    }
  }
}
